*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p, button, h1, div{
    font-family: Montserrat;
}
.body {
    background-image: url(https://s3-alpha-sig.figma.com/img/0461/d945/3866b9d9907532f481563c5d30aed5cc?Expires=1718582400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=gyXP7K7xNcwRZJGB04zQef80PliFhthA4jDN4zjahmuq-19g3IjyehgghhGJDxAP9Q-E1v4Ef~QsZ1AinIY0wH3yw4b1tkvOzaS7g6c2RZLB4JGr3xZADMxK9GJZnPo76eaPCPwyRmxgnqfVJh8GjW~4GNa74OGQjSKvRfe-iR6nxwFYRnRzlNBGuaPJIW1cnbZIxjFQJvqkpUfRsb62K9aMN8kYPbmpIEr7dmWdI6Bm5df9CFTwnoSlZ5EW~e0F7pFuj7OcaYXB-5C77kZAOJ902d8i0EgsufmxM7F7~RJXHuIlLGnTi419cEKqgjg-diOF3klHgVhVPjkNUs-arw__);
    height: 100vh; 
    width: 100%;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    color: white;
}
.white{
    background-color: white;
    color: black;
    text-align: center;
    padding: 20px;
}

button:hover{
    background-color: white;
    cursor: pointer;
    color: #8D81AC;
    border: 2px solid #8D81AC;
    transition: all;
    transition-duration: 0.15s;
    font-weight: bold;
}


h1:hover{
    cursor: pointer;
    color: white;
}
.header_p:hover{
    cursor: pointer;
    color: white;   
}


nav, .header_right{
    width: 100%;
    padding: 15px 25px;
    display: flex;
    flex-direction: row;
    background-color: black;
    color: #8D81AC;
    justify-content: center;
    align-items: center;
}
.buy{
    background-color: #8D81AC;
    width: 120px;
    height: 30px;
    border-radius: 100px;
    border: none;
    color: white;
}

h1{
    width: 30%;
    margin-left: 15px;
    font-size: 24px;
}
.header_right{
    width: 70%;
    gap: 5%;
    justify-content: flex-end;
    font-size: 18px;
}


.body > p{
    text-align: center;
}

.t1{
    font-size: 85px;
    padding-top: 6.5%;
    font-weight: bold;
}
.t2{
    font-size: 30px;
    color: #8D81AC;
    padding-top: 1.3%;
}
.t3{
    font-size: 18px;
    color: #848E97;
    padding-top: 0.9%;
}
.t4{
    text-align: center;
    font-size: 13px;
    color: #848E97; 
    padding-bottom: 40px;
}
.t5{
    font-size: 54px;
    color: #635C73;
    font-weight: bold;
    margin-bottom: 20px;
}
.t6{
    font-size: 21px;
    margin-bottom: 20px;
}

.download{
    position: relative;
    left: 37%;
    right: 35%;
    bottom: 20px;
    width: 390px;
    height: 45px;
    font-size: 19px;
    background-color: #8D81AC;
    border-radius: 100px;
    border: none;
    color: white;
}






.secondpage{
    background-color: #F4F4F4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 100px 0 100px 100px;
}
.left{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    width: 530px;
    align-content: center;
}
.right{
    display: grid;
    grid-template-rows: auto auto;
}
.first, .second, .third, .fourth{
    display: grid;
    grid-template-columns: auto auto;
}


.img1{
    margin-right: 20px;
}
.img2{
    margin-right: 41px;
}
.img3{
    margin-right: 71px;
}
.img4{
    margin-right: 60px;
}

.content p{
    padding-bottom: 9px;
}
.content>p{
    color: #323232;
    font-size: 16px;
}
.content>.text{
    font-size: 14px;
    color: #848E97;
}
.secondpage>img{
    padding: 0;
    margin: 0;
    width: 111px;
}
.right>p{
    color: #8D81AC;
    font-size: 48px;
    text-align: left;
    font-weight: bold;   
}







.thirdpage{
    background-image: url(https://s3-alpha-sig.figma.com/img/466e/5ecc/af0afe417544fd931e01bc57e5a1e5ff?Expires=1719187200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=SZIoKjWwolhf4Nup-xpcbyBGCK5hEji4UNAykmLno1KyltJt2j4HfSMQWvd6wQb0tL7wT8lFwPEPw1vHdJR5FWaJKgS9NwW6cN9~UrmyvIV6YTj5fkB51V5hQerLcdYuEbqPx7UwT-BchLB0NjM-RFyGj0xDishSxvLCiLdNBROKh-iCIb5MwoS~Xasvhkqb7vLqv16kiPJ4wrlD9glPc6OJgcbw56GpuX2jD~Y9EHfAqnMNN6phIHKiqZQOL07KReTscKrJrEA~7a0jqw5QEm5LeK7~tzLGbswTDFN3qrsEBmUiHcdOHt5faYp5DLFJS9JRPDwh32h2o3ZYBQ6hzg__);
    height: 100vh; 
    width: 100%;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-color: white;
    padding: 80px;
}
.people{
    text-align: center;
    color: white;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 45px;
}
.grid>div{
    text-align: center;
    color: white;
}
.grid{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    gap: 90px;
}
.footer{
    width: 75%;
    text-align: center;
    font-size: 14px;
    color: #A291A5;
    margin: auto;
    margin-top: 70px;
}
.image{
    margin-bottom: 4%;
}






.fourthpage{
    background-image: url(https://s3-alpha-sig.figma.com/img/99d6/a744/4f4839de7fce8c925a3f629dfa7c82d2?Expires=1719187200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=F126OE461lVP8X7D0ru3i6AybemS1TrjgsYJE5XfyrgRTR0-WWLnSouRqL-pJroVOXK3F~~PVwU15AwbGXCMB9wP4n~qTPd2~FYaCaOviq~jZldi8YIPrKy1HaQhpAYhIo3-I0sC4lDvJlxfyaaLjSpuQCHuOou1iCHY-seI5uNtwX48GaOYnu9XeASwZgOfsJaDKeTJwCBO60tplgImZSJPtM2P-LJmdpUQ5iN3Od6KMzTOE~hJqxvrKuobp4t6UFg82FKdU7o1nPT-o2Ba0ONv~D4AH9on13KGgtYDws6YA82sisWT4~PTaXaScG-Tt9NwDmJ~d3Lp9eaGrvSArQ__);
    height: 100vh; 
    width: 100%;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-color: white;
    padding: 65px;
}
.pricing{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
}


.toggle{
    display: none;
    width: 30px;
    height: 20px;
    color: white;
}




@media screen and (max-width: 758px) and (min-width: 321px) {
   

    nav, .header_right{
        background-color: #27262A;
        width: 100%;
        padding: 10px 20px;
        display: flex;
        color: #8D81AC;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        flex-wrap: wrap;
    }
    
    
    .header_right{
        order: 3;
        background-color: #27262A;
        font-weight: 580;
        
    }
    img,h1{
      order: 1;  
    }
    .buy{
        order: 2;
        background-color: #8D81AC;
        width: 120px;
        height: 30px;
        border-radius: 100px;
        border: none;
        color: white;
        margin-left: 59.5%;
    }
    
    

    .body{
        width: 100%;
        padding: 30px;
        background-image: url(https://s3-alpha-sig.figma.com/img/0461/d945/3866b9d9907532f481563c5d30aed5cc?Expires=1718582400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=gyXP7K7xNcwRZJGB04zQef80PliFhthA4jDN4zjahmuq-19g3IjyehgghhGJDxAP9Q-E1v4Ef~QsZ1AinIY0wH3yw4b1tkvOzaS7g6c2RZLB4JGr3xZADMxK9GJZnPo76eaPCPwyRmxgnqfVJh8GjW~4GNa74OGQjSKvRfe-iR6nxwFYRnRzlNBGuaPJIW1cnbZIxjFQJvqkpUfRsb62K9aMN8kYPbmpIEr7dmWdI6Bm5df9CFTwnoSlZ5EW~e0F7pFuj7OcaYXB-5C77kZAOJ902d8i0EgsufmxM7F7~RJXHuIlLGnTi419cEKqgjg-diOF3klHgVhVPjkNUs-arw__);
        height: 100vh; 
        width: 100%;
        background-size: cover; 
        background-position: center; 
        background-repeat: no-repeat; 
        color: white;
    }

    .t1{
        font-size: 72px;
    }
    .t2{
        font-size: 24px;
    }
    .t3{
        font-size: 14px;
    }
    .t4{
        font-size: 14px;
    }
    .t5{
        font-size: 42px;
    }
    .t6{
        font-size: 18px;
        margin-bottom: 10px;
    }

    .download{
        position: relative;
        left: 25%;
        right: 25%;
        bottom: 10px;
        width: 390px;
        height: 45px;
        font-size: 19px;
    }

    .secondpage{
        background-color: #F4F4F4;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        padding: 70px 0 70px 70px;
    }
    .right{
        display: grid;
        grid-template-rows: auto auto;
    }
    .first, .second, .third, .fourth{
        display: grid;
        grid-template-columns: auto auto;
    }

    .thirdpage{
        background-image: url(https://s3-alpha-sig.figma.com/img/466e/5ecc/af0afe417544fd931e01bc57e5a1e5ff?Expires=1719187200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=SZIoKjWwolhf4Nup-xpcbyBGCK5hEji4UNAykmLno1KyltJt2j4HfSMQWvd6wQb0tL7wT8lFwPEPw1vHdJR5FWaJKgS9NwW6cN9~UrmyvIV6YTj5fkB51V5hQerLcdYuEbqPx7UwT-BchLB0NjM-RFyGj0xDishSxvLCiLdNBROKh-iCIb5MwoS~Xasvhkqb7vLqv16kiPJ4wrlD9glPc6OJgcbw56GpuX2jD~Y9EHfAqnMNN6phIHKiqZQOL07KReTscKrJrEA~7a0jqw5QEm5LeK7~tzLGbswTDFN3qrsEBmUiHcdOHt5faYp5DLFJS9JRPDwh32h2o3ZYBQ6hzg__);
        height: auto; 
        width: 100%;
        background-size: cover; 
        background-position: center; 
        background-repeat: no-repeat; 
        background-color: white;
        padding: 40px;
    }
    .people{
        text-align: center;
        color: white;
        font-size: 35px;
        font-weight: bold;
        margin-bottom: 35px;
    }
    .grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        align-items: center;
        gap: 50px;
    }
    .footer{
        width: 100%;
        text-align: center;
        font-size: 12px;
        color: #A291A5;
        margin: auto;
        margin-top: 30px;
    }

    .fourthpage{
        background-image: url(https://s3-alpha-sig.figma.com/img/99d6/a744/4f4839de7fce8c925a3f629dfa7c82d2?Expires=1719187200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=F126OE461lVP8X7D0ru3i6AybemS1TrjgsYJE5XfyrgRTR0-WWLnSouRqL-pJroVOXK3F~~PVwU15AwbGXCMB9wP4n~qTPd2~FYaCaOviq~jZldi8YIPrKy1HaQhpAYhIo3-I0sC4lDvJlxfyaaLjSpuQCHuOou1iCHY-seI5uNtwX48GaOYnu9XeASwZgOfsJaDKeTJwCBO60tplgImZSJPtM2P-LJmdpUQ5iN3Od6KMzTOE~hJqxvrKuobp4t6UFg82FKdU7o1nPT-o2Ba0ONv~D4AH9on13KGgtYDws6YA82sisWT4~PTaXaScG-Tt9NwDmJ~d3Lp9eaGrvSArQ__);
        height: auto; 
        width: 100%;
        background-size: cover; 
        background-position: center; 
        background-repeat: no-repeat; 
        background-color: white;
        padding: 30px;
    }
    .pricing{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }
}

@media screen and (max-width: 320px){

    nav{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        place-items: center;
        background-color: #27262A;
        padding: 10px 15px;
    }

    .Logo_Responsive{
        display: block;
        justify-self: start;
    }

    .buy{
         width: 100%;
         margin: 0;
    }

    .Logo{
        display: none;
    }

    .header{
        display: block;
        min-width: 100%;
    }

    .toggle{
        display: block;
        justify-self: end;
    }

    .header_right{
        display: none;
    }
    
    .body{
        background-image: url(https://s3-alpha-sig.figma.com/img/0461/d945/3866b9d9907532f481563c5d30aed5cc?Expires=1718582400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=gyXP7K7xNcwRZJGB04zQef80PliFhthA4jDN4zjahmuq-19g3IjyehgghhGJDxAP9Q-E1v4Ef~QsZ1AinIY0wH3yw4b1tkvOzaS7g6c2RZLB4JGr3xZADMxK9GJZnPo76eaPCPwyRmxgnqfVJh8GjW~4GNa74OGQjSKvRfe-iR6nxwFYRnRzlNBGuaPJIW1cnbZIxjFQJvqkpUfRsb62K9aMN8kYPbmpIEr7dmWdI6Bm5df9CFTwnoSlZ5EW~e0F7pFuj7OcaYXB-5C77kZAOJ902d8i0EgsufmxM7F7~RJXHuIlLGnTi419cEKqgjg-diOF3klHgVhVPjkNUs-arw__);
        height: 100vh; 
        width: 100%;
        background-size: cover; 
        background-position: center; 
        background-repeat: no-repeat; 
        color: white;
        padding: 10px 10px;
    }

    .t1{
        font-size: 48px;
        padding-top: 7.5%;
        font-weight: bold;
    }
    .t2{
        font-size: 18px;
        color: #8D81AC;
        padding-top: 6%;
        text-align: center;
    }
    .t3{
        font-size: 12px;
        color: #848E97;
        padding-top: 6%;
    }

    .download{
        position: relative;
        left: 4.5%;
        right: 2%;
        bottom: 20px;
        width: 290px;
        height: 45px;
        font-size: 16px;
        background-color: #8D81AC;
        border-radius: 100px;
        border: none;
        color: white;
        font-weight: bold;
    }

    .white{
        background-color: white;
        color: black;
        text-align: center;
        padding: 0px 15px;
    }
    .t4{
        text-align: center;
        font-size: 12px;
        color: #848E97; 
        padding-bottom: 40px;
    }
    .t5{
        font-size: 25px;
        color: #635C73;
        font-weight: bold;
        margin-bottom: 20px;
    }
    .t6{
        font-size: 14px;
        margin-bottom: 20px;
        text-align: center;
    }

    .white>img{
        width: 300px;
        padding-bottom: 20px;
    }


    .secondpage{
        width: 100%;
        height: auto;
        background-color: #F4F4F4;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto;
        padding: 15px;
    }
    .left{
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        width: 290px;
        align-items: center;
        justify-content: center;
    }
    .right{
        margin-top: 20px;
        display: grid;
        grid-template-rows: 32px;
        width: 100%;
    }
    .right>img{
        width: 320px;
        padding-top: 32px;
    }
    
    .first, .second, .third, .fourth{
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;
    }
    
    
    .img1{
        margin-right: 0px;
        margin-left: 35%;
        margin-bottom: 10px;
    }
    .img2{
        margin-right: 0px;
        margin-left: 34%;
        margin-bottom: 10px;
    }
    .img3{
        margin-right: 0px;
        margin-left: 38%;
        margin-bottom: 10px;
    }
    .img4{
        margin-right: 0px;
        margin-left: 35%;
        margin-bottom: 10px;
    }
    
    .content p{
        padding-bottom: 0px;
    }
    .content>p{
        color: #323232;
        font-size: 15px;
        text-align: center;
    }
    .content>.text{
        font-size: 13px;
        color: #848E97;
        text-align: center;
    }
    .secondpage>img{
        padding: 0;
        margin: 0;
        width: 111px;
    }
    .right>p{
        color: #8D81AC;
        font-size: 30px;
        text-align: center;
        font-weight: bold;   
    }

    .thirdpage{
        background-image: url(https://s3-alpha-sig.figma.com/img/466e/5ecc/af0afe417544fd931e01bc57e5a1e5ff?Expires=1719187200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=SZIoKjWwolhf4Nup-xpcbyBGCK5hEji4UNAykmLno1KyltJt2j4HfSMQWvd6wQb0tL7wT8lFwPEPw1vHdJR5FWaJKgS9NwW6cN9~UrmyvIV6YTj5fkB51V5hQerLcdYuEbqPx7UwT-BchLB0NjM-RFyGj0xDishSxvLCiLdNBROKh-iCIb5MwoS~Xasvhkqb7vLqv16kiPJ4wrlD9glPc6OJgcbw56GpuX2jD~Y9EHfAqnMNN6phIHKiqZQOL07KReTscKrJrEA~7a0jqw5QEm5LeK7~tzLGbswTDFN3qrsEBmUiHcdOHt5faYp5DLFJS9JRPDwh32h2o3ZYBQ6hzg__);
        height: auto; 
        width: 100%;
        background-size: cover; 
        background-position: center; 
        background-repeat: no-repeat; 
        background-color: white;
        padding: 20px;
    }
    
    .people{
        text-align: center;
        color: white;
        font-size: 35px;
        font-weight: bold;
        margin-bottom: 35px;
    }
    .grid{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        align-items: center;
        gap: 20px;
    }
    .footer{
        width: 100%;
        text-align: center;
        font-size: 12px;
        color: #A291A5;
        margin: auto;
        margin-top: 30px;
    }
    
    .fourthpage{
        background-image: url(https://s3-alpha-sig.figma.com/img/99d6/a744/4f4839de7fce8c925a3f629dfa7c82d2?Expires=1719187200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=F126OE461lVP8X7D0ru3i6AybemS1TrjgsYJE5XfyrgRTR0-WWLnSouRqL-pJroVOXK3F~~PVwU15AwbGXCMB9wP4n~qTPd2~FYaCaOviq~jZldi8YIPrKy1HaQhpAYhIo3-I0sC4lDvJlxfyaaLjSpuQCHuOou1iCHY-seI5uNtwX48GaOYnu9XeASwZgOfsJaDKeTJwCBO60tplgImZSJPtM2P-LJmdpUQ5iN3Od6KMzTOE~hJqxvrKuobp4t6UFg82FKdU7o1nPT-o2Ba0ONv~D4AH9on13KGgtYDws6YA82sisWT4~PTaXaScG-Tt9NwDmJ~d3Lp9eaGrvSArQ__);
        height: auto; 
        width: 100%;
        background-size: cover; 
        background-position: center; 
        background-repeat: no-repeat; 
        background-color: white;
        padding: 30px;
    }
    .fourthpage>.people{
        font-size: 27.9px;
    }
    .pricing{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }
    
}

